<!DOCTYPE html>
<html>
<head>
    <title>Basic</title>
    <link rel="stylesheet" href="/css/basic.min.css" />
</head>
<body>

    <div class="content">

        <h1>Check it out!</h1>

        <div class="tl-basic-container">
        </div>

    </div>

    <script>
        var basics = [
            {
                title: "Test 1",
                start: "11/14/2013 21:00:00",
                end: "11/14/2013 24:00:00"
            },
            {
                title: "Test 2",
                start: "11/13/2013 8:00:00",
                end: "11/15/2013 17:00:00"
            },
            {
                title: "Test 3",
                start: "11/14/2013 8:00:00",
                end: "11/15/2013 17:00:00"
            },
            {
                title: "3.13",
                start: "11/4/2013 8:00:00",
                end: "11/15/2013 17:00:00"
            },
            {
                title: "3.13.1",
                start: "11/18/2013 8:00:00",
                end: "11/22/2013 17:00:00"
            }
        ];
    </script>

    <script src="/js/lib/jquery-1.10.2.min.js"></script>
    <!-- // <script src="/js/basic.min.js"></script> -->
    <script src="basic.js"></script>
</body>
</html>