<!DOCTYPE html>
<html>
<head>
    <title>Timelyne</title>

    <link rel="stylesheet" href="/css/timelyne.min.css" />
</head>
<body>
    <h1>I did it!</h1>

    <div class="content">

        <div id="tl-test" class="tl-progress-bar">
            <div class="tl-progress-full">
                <div class="tl-progress-label">something</div>
            </div>
            <div style="background-color:#f00;float:left;height:4px;width:75%"></div>
            <div style="background-color:#0f0;float:left;height:4px;width:25%"></div>
        </div>

    </div>

    <script src="/js/timelyne.min.js"></script>
</body>
</html>