<!DOCTYPE html>
<html>
<head>
    <title>Timelyne</title>

    <link rel="stylesheet" href="/css/timelyne.min.css" />
</head>
<body>
    <h1>I did it!</h1>

    <div class="content">

        <div id="tl-test-01" class="tl-progress-bar">
            <div class="tl-progress-full">
                <div class="tl-progress-label">something</div>
            </div>
            <div id="tl-phase-dev" class="tl-phase"></div>
            <div id="tl-phase-review" class="tl-phase"></div>
            <div id="tl-phase-test" class="tl-phase"></div>
        </div>

    </div>

    <script src="/js/timelyne.min.js"></script>
</body>
</html>